@import '../../commonStyles/variables.scss';

.button {
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;

  &:focus {
    outline: none;
  }

  &.buy {
    background: $secondaryColor;
    color: white;
    padding: 10px;
    font-size: $font-16;
    min-width: 250px;
  }

  &.search {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 40px;
    background: $lightGray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}
