@import './variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $lightGray;
  height: 100vh;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;

  *::selection {
    background-color: $lightGray2;
  }

  img::selection {
    background-color: transparent;
  }
  .main-container{
    max-width: 1200px;
    margin: 0 auto;
  }
}

#root {
  height: 100%;
}
